<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
   
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

   
   <link href="https://fonts.googleapis.com/css?family=Sofia" rel='stylesheet'>
    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'metrics/homedesign.css' %}">
	<title>Aossie Scholar</title>
</head>


<body>

		<header>
		  	<div class="nav-sec">
				<div class="container-nav">
					<div id="logo">
						<a href=" http://127.0.0.1:8000/metrics/"><img id = "navlogo" src = "{% static 'metrics/images/AOSSIE_logo_08_cropped_tiny.png' %}" alt = "aossie_logo"></a>
					</div>
					<nav>
						<ul>
							<li class="current"><a href="http://127.0.0.1:8000/metrics/">Home</a></li>
							<li><a href="#">Search</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="intro-text">
				<img id = "Slogo" src = "{% static 'metrics/images/Scholar_logo.png' %}" alt = "Scholar_logo">
			</div>

	
	
		<div class="head-container">

			<div class="src">	
				<div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">Better metrics of researcher's performance with fairer stats in one click.</h3>
                </div>
			</div>

			<div class="scholar-result">				
					<form action= "{% url 'metrics:search_results' %}" method= "get" class="form-inline my-2 my-lg-0">
					<!--{% csrf_token %} -->
					<!-- {{ searchform.errors }} -->
					<div id="search_form">
						<div class="form-row">
						<i id="cap-icon" class="fa fa-graduation-cap"></i>  
						<input class="form-control mr-sm-2"  
						type="search" 
						id="search-text"
				  		placeholder="Search" 
				  		name="search"
						autocomplete="off"
				  		value="{{ search_term }}"
						  aria-label="Search">
						  
					</div><div class="flex-column"><div id="search-options" class="flex-column position-absolute bg-white text-dark search-option-main">
						</div></div>	
					<button type="submit" class="btn btn-outline mt-4" id="search-btn">Search</button>
					
					</div>

				</form>
			 </div>

		</div>

		</header>

			
		
		<div class="container-main">
			<h2 class="section-heading">Register</h2>
			<h3 class="scholar-subheading">Scholars with a google Scholar profile, <br><br> register here to continue to<a href="http://127.0.0.1:8000/metrics/"> AOSSIE Scholar</h3></a>

		  <div class="search-result">
			<form method="post">

				{% csrf_token %}
				{{ indexform.errors }}
				<div id="index_form">
					{{ indexform.as_p }}
					<button type="submit" class="btn btn-outline" id="register-btn">submit</button>
				</div>
			</form>
		</div>

		</div>

		<div class="contact-section">
			<div class="col-lg-12 text-center con-sec">
				<h2 class="contact-head">Contact Us</h2>
				<h3 id="sec-subhead" class="section-subheading text-muted">Please use our <a href="https://gitter.im/AOSSIE/AossieScholar">Gitter Channels</a> to communicate with us.</h3>
			</div>
		</div>


		<footer>

		  			
			<div class="container-foot">
						<span class="copyright">Copyright © AOSSIE 2020</span>
			</div>
					<div class="foot-elements">
						<ul class="list-inline social-buttons">
						
							<li><a href="https://twitter.com/aossie_org"><i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
							</li>
							
							<li><a href="http://www.gitlab.com/aossie"><i class="fa fa-github"></i></a>
							</li>
							
							<li><a href="https://gitter.im/AOSSIE/Lobby"><i class="fa fa-google-plus"></i></a>
							</li>
							
						</ul>
					</div>
					
		</footer>


	</body>
	
</html>

<script type="text/javascript">
$(document).ready(function(){

 $('#search-options').hide();
 $('#search-text').css({"border-radius":"50px"});
 load_data();

 function load_data(query)
 {
  $.ajax({
   url:'/api/metrics/search_name/',
   method:"POST",
   data:{search_text:query,'csrfmiddlewaretoken': '{{ csrf_token }}',},
   success:function(data)
   {
	document.getElementById("search-options").innerHTML=""
    data.map((profile,index)=>{
		if(index<6){
			var node = document.createElement("LI");
  			var textnode = document.createTextNode(profile.author_name);
			node.onclick = function () {
    		$('#search-text').val(profile.author_name)
			$('#search-options').hide();
	   		$('#search-text').css({"border-radius":"50px"});
			};
			node.appendChild(textnode);
			  
  			document.getElementById("search-options").appendChild(node);
		}
	})
	if(document.getElementById("search-options").innerHTML==""){
	   $('#search-options').hide();
	   $('#search-text').css({"border-radius":"50px"});
   }
   }
  });
 }
 $('#search-text').keyup(function(){
  var search = $(this).val();
  if(search != '')
  {
   load_data(search);
   $('#search-options').show();
   $('#search-text').css({"border-radius":"0px"});
  }
  else
  {
   document.getElementById("search-options").innerHTML=""
   load_data();
   if(document.getElementById("search-options").innerHTML==""){
	   $('#search-options').hide();
	   $('#search-text').css({"border-radius":"50px"});
   }
   
  }
 });
});
</script>




